
/* About Template style */



@media screen and (min-width: 920px) {

  #aboutContentContainer {
    width: 100%;
    padding-top: 106px;
  }

  .aboutContent {
    padding: 5vw 15vw 15vw 15vw;
    margin-bottom: 64px;
    margin-bottom: 0px;
  }

  #composerDescription {
    display: inline-flex;
  }

  #composerDescription h1{
    padding-top: 0;
  }

  #aboutParagraph {
    width: 50%;
    margin-right: 32px;
  }

  #aboutSpacing{
    padding-bottom: 120px;
  }

  .luizFelipe{
    margin-top: 120px;
  }

  #portalViolino {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }


  #portalViolino #portalContent{
    border: 1px solid #ccc;
    padding: 24px;
    width: 70%;
    height: fit-content;
    display: inline-flex;
    align-items: flex-start;
  }

  #portalViolino span {
    font-family: garamond-bold;
  }

  #portalViolino p {
    padding-top: 0;
  }

  #portalContent img{
    width: 64px;
    height: auto;
    flex-shrink: 0;
    margin-right: 16px;
  }

  .aboutLink {
    font-family: garamond;
    color: var(--forestGreen);
    text-decoration: underline;
  } 

  .aboutLink:hover {
    text-decoration: underline;
    color: var(--forestGreen_Dark);
  }

  .pLink {
    font-family: garamond;
    background-color: #FEEBCE;
    color: var(--forestGreen);
  } 

  .pLink:hover {
    background-color: #FEEBCE;
    color: var(--forestGreen_Dark);
    text-decoration: underline;
  }


  #author{
    display: flex;
    justify-content: flex-end;
  }

  #authorImage{
    width: 75%;
  }

  #authorImage p{
    padding-top: 12px;
  }

  #authorImage img{
    width: 100%; }

}